body,
[class^="flex"],
.box-2-1 {
  display: flex;
}

.flex-1,
.box-2-1:nth-child(1) {
  align-items: center;
}

.flex-3 {
  flex-direction: column;
  align-items: flex-end;
}

.flex-1.shadow.color-2 {
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-1 {
  width: 200px;
  min-height: 100vh;
  background-color: #F6F6F6;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.box-1>.flex-1 {
  margin: 0 10px;
}

.box-2 {
  flex-grow: 1;
  margin: 0 15px;
}


.card {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
  flex-grow: 1;
  margin: 20px 10px;
  flex-basis: 100%;
  width: 1px;
}

.flex-1.color-2 {
  color: white;
  padding: 10px;
  position: relative;
  top: -30px;
  margin-bottom: -10px;
}

.flex-1.color-2>.flex-1 {
  padding: 5px 10px;
}

.flex-1.color-2>.flex-1:nth-child(2) {
  background-color: #DEAD49;
  margin-left: 10px;
}

.flex-1>p {
  flex-grow: 1;
}


.color-1 {
  background-color: #448B00;
}

.color-2 {
  background-color: #D89E24;
}

.color-3 {
  background-color: #274D97;
  color: white;
}

.color-4 {
  background-color: #C32056;
  color: white;
}

.shadow {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}


.card:nth-child(2)>.color-3 {
  padding: 15px;
  position: relative;
  top: -30px;
  margin-bottom: -15px;
}

.flex>p {
  padding: 10px;
  font-weight: bold;
}

.flex>p:last-child {
  margin-left: auto;
}

.spacer {
  display: none;
  flex-basis: 100%;
  flex-shrink: 0;
  width: 10px;
}

/* СТИЛИЗАЦИЯ СЕЛЕКТОРОВ */


body {
  margin: 0;
  font-family: Segoe UI Light, sans-serif;
  background-color: #EAEAEA;
}

p {
  margin: 0;
}

[class^="icon"]+p {
  font-size: 0.8em;
}

hr {
  height: 1px;
  background-color: gray;
  border: none;
  margin: 10px 0;
}

.box-2>div>hr {
  margin-top: 25px;
}

h2 {
  margin-left: 25px;
}

.box-2 h2 {
  margin-left: 10px;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
  margin: 0;
}

input[type="checkbox"] {
  margin: 5px;
  margin-right: 10px;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: normal;
  color: #3AB599;
}

td,
th {
  border-bottom: 1px solid gray;
  padding: 8px;
}

tr:nth-of-type(5)>td {
  border-bottom: none;
}

/* МЕДИАЗАПРОСЫ */


@media (max-width: 1000px) {

  .box-2-1 {
    flex-wrap: wrap;
  }

  .card {
    flex-basis: auto;
  }

  .box-2-1:nth-child(3) {
    flex-wrap: nowrap;
  }

  .box-2-1:nth-child(3)>.card {
    flex-basis: 100%;
  }

  .spacer {
    display: block;
  }
}

@media (max-width: 800px) {

  .box-1 {
    display: none;
  }

  .box-2 h2 {
    margin-left: 5px;
  }

  .img-11 {
    display: block !important;
  }

}

@media (max-width: 650px) {
  .box-2-1:nth-child(3) {
    flex-wrap: wrap;
  }


}

@media (max-width: 500px) {
  .card {
    flex-basis: 100%;
    margin-top: 20px;
  }
}

/* СТИЛИЗАЦИЯ КАРТИНОК */

[class^="picture"],
[class^="big"] {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -30px;
}

[class^="img"],
[class^="big"],
[class^="icon"] {
  background-size: cover;
}

[class^="img"] {
  margin: 10px 20px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.box-2-1 [class^="img"] {
  width: 20px;
  height: 20px;
  margin: 5px;
}

[class^="picture"] {
  margin: auto;
  margin-left: 0;
  width: 50px;
  height: 50px;
  padding: 5px;
}

[class^="big"] {
  width: 100%;
  padding-top: 50%;
  margin-bottom: -20px;
}

[class^="icon"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.img-6,
.img-7 {
  flex-shrink: 0;
}


/* ФАЙЛЫ КАРТИНОК */


.img-1 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0h48v48h-48z' fill='none'/%3e%3cpath fill='whitesmoke' d='M6 26h16v-20h-16v20zm0 16h16v-12h-16v12zm20 0h16v-20h-16v20zm0-36v12h16v-12h-16z'/%3e%3c/svg%3e");
}

.img-2 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='gray' d='M24 8c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8s8-3.59 8-8c0-4.42-3.58-8-8-8zm0 20c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z'/%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3C/svg%3E");
}

.img-3 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='gray' d='M24 4c-7.73 0-14 6.27-14 14 0 10.5 14 26 14 26s14-15.5 14-26c0-7.73-6.27-14-14-14zm0 19c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z'/%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3C/svg%3E");
}

.img-4 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3Cpath fill='gray' d='M36 14l-2.83-2.83-12.68 12.69 2.83 2.83 12.68-12.69zm8.49-2.83l-21.18 21.17-8.34-8.34-2.83 2.83 11.17 11.17 24-24-2.82-2.83zm-43.66 15.66l11.17 11.17 2.83-2.83-11.17-11.17-2.83 2.83z'/%3E%3C/svg%3E");
}

.img-5 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3Cpath fill='gray' d='M23.99 4c-11.05 0-19.99 8.95-19.99 20s8.94 20 19.99 20c11.05 0 20.01-8.95 20.01-20s-8.96-20-20.01-20zm13.85 12h-5.9c-.65-2.5-1.56-4.9-2.76-7.12 3.68 1.26 6.74 3.81 8.66 7.12zm-13.84-7.93c1.67 2.4 2.97 5.07 3.82 7.93h-7.64c.85-2.86 2.15-5.53 3.82-7.93zm-15.48 19.93c-.33-1.28-.52-2.62-.52-4s.19-2.72.52-4h6.75c-.16 1.31-.27 2.64-.27 4 0 1.36.11 2.69.28 4h-6.76zm1.63 4h5.9c.65 2.5 1.56 4.9 2.76 7.13-3.68-1.26-6.74-3.82-8.66-7.13zm5.9-16h-5.9c1.92-3.31 4.98-5.87 8.66-7.13-1.2 2.23-2.11 4.63-2.76 7.13zm7.95 23.93c-1.66-2.4-2.96-5.07-3.82-7.93h7.64c-.86 2.86-2.16 5.53-3.82 7.93zm4.68-11.93h-9.36c-.19-1.31-.32-2.64-.32-4 0-1.36.13-2.69.32-4h9.36c.19 1.31.32 2.64.32 4 0 1.36-.13 2.69-.32 4zm.51 11.12c1.2-2.23 2.11-4.62 2.76-7.12h5.9c-1.93 3.31-4.99 5.86-8.66 7.12zm3.53-11.12c.16-1.31.28-2.64.28-4 0-1.36-.11-2.69-.28-4h6.75c.33 1.28.53 2.62.53 4s-.19 2.72-.53 4h-6.75z'/%3E%3C/svg%3E");
}

.img-6 {
  background-image: url("https://images.vfl.ru/ii/1609962844/09682292/32872048.png");
}

.img-7 {
  background-image: url("https://images.vfl.ru/ii/1609962844/8cc88ebf/32872050.png");
}

.img-8 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg height='18px' version='1.1' viewBox='0 0 16 18' width='16px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle/%3e%3cdesc/%3e%3cdefs/%3e%3cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3e%3cg fill='whitesmoke' id='Core' transform='translate(-340.000000, -45.000000)'%3e%3cg id='bug-report' transform='translate(340.000000, 45.000000)'%3e%3cpath d='M16,5 L13.2,5 C12.7,4.2 12.1,3.5 11.4,3 L13,1.4 L11.6,0 L9.4,2.2 C9,2.1 8.5,2 8,2 C7.5,2 7,2.1 6.6,2.2 L4.4,0 L3,1.4 L4.6,3 C3.9,3.5 3.3,4.2 2.8,5 L0,5 L0,7 L2.1,7 C2,7.3 2,7.7 2,8 L2,9 L0,9 L0,11 L2,11 L2,12 C2,12.3 2,12.7 2.1,13 L0,13 L0,15 L2.8,15 C3.8,16.8 5.8,18 8,18 C10.2,18 12.2,16.8 13.2,15 L16,15 L16,13 L13.9,13 C14,12.7 14,12.3 14,12 L14,11 L16,11 L16,9 L14,9 L14,8 C14,7.7 14,7.3 13.9,7 L16,7 L16,5 L16,5 Z M10,13 L6,13 L6,11 L10,11 L10,13 L10,13 Z M10,9 L6,9 L6,7 L10,7 L10,9 L10,9 Z' id='Shape'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.img-9 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg height='20px' version='1.1' viewBox='0 0 20 20' width='20px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle/%3e%3cdesc/%3e%3cdefs/%3e%3cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3e%3cg fill='whitesmoke' id='Core' transform='translate(-296.000000, -296.000000)'%3e%3cg id='language' transform='translate(296.000000, 296.000000)'%3e%3cpath d='M10,0 C4.5,0 0,4.5 0,10 C0,15.5 4.5,20 10,20 C15.5,20 20,15.5 20,10 C20,4.5 15.5,0 10,0 L10,0 Z M16.9,6 L14,6 C13.7,4.7 13.2,3.6 12.6,2.4 C14.4,3.1 16,4.3 16.9,6 L16.9,6 Z M10,2 C10.8,3.2 11.5,4.5 11.9,6 L8.1,6 C8.5,4.6 9.2,3.2 10,2 L10,2 Z M2.3,12 C2.1,11.4 2,10.7 2,10 C2,9.3 2.1,8.6 2.3,8 L5.7,8 C5.6,8.7 5.6,9.3 5.6,10 C5.6,10.7 5.7,11.3 5.7,12 L2.3,12 L2.3,12 Z M3.1,14 L6,14 C6.3,15.3 6.8,16.4 7.4,17.6 C5.6,16.9 4,15.7 3.1,14 L3.1,14 Z M6,6 L3.1,6 C4.1,4.3 5.6,3.1 7.4,2.4 C6.8,3.6 6.3,4.7 6,6 L6,6 Z M10,18 C9.2,16.8 8.5,15.5 8.1,14 L11.9,14 C11.5,15.4 10.8,16.8 10,18 L10,18 Z M12.3,12 L7.7,12 C7.6,11.3 7.5,10.7 7.5,10 C7.5,9.3 7.6,8.7 7.7,8 L12.4,8 C12.5,8.7 12.6,9.3 12.6,10 C12.6,10.7 12.4,11.3 12.3,12 L12.3,12 Z M12.6,17.6 C13.2,16.5 13.7,15.3 14,14 L16.9,14 C16,15.7 14.4,16.9 12.6,17.6 L12.6,17.6 Z M14.4,12 C14.5,11.3 14.5,10.7 14.5,10 C14.5,9.3 14.4,8.7 14.4,8 L17.8,8 C18,8.6 18.1,9.3 18.1,10 C18.1,10.7 18,11.4 17.8,12 L14.4,12 L14.4,12 Z' id='Shape'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.img-10 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg height='16px' version='1.1' viewBox='0 0 24 16' width='24px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle/%3e%3cdesc/%3e%3cdefs/%3e%3cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3e%3cg fill='whitesmoke' id='Core' transform='translate(-378.000000, -88.000000)'%3e%3cg id='cloud' transform='translate(378.000000, 88.000000)'%3e%3cpath d='M19.4,6 C18.7,2.6 15.7,0 12,0 C9.1,0 6.6,1.6 5.4,4 C2.3,4.4 0,6.9 0,10 C0,13.3 2.7,16 6,16 L19,16 C21.8,16 24,13.8 24,11 C24,8.4 21.9,6.2 19.4,6 L19.4,6 Z' id='Shape'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  width: 30px !important;
}

.img-11 {
  background-image: url("https://images.vfl.ru/ii/1609337314/ca4cf55a/32817951.png");
  margin-left: 10px !important;
  display: none;
}

.picture-1 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='data'%3E%3Cpath d='M16,0C9.256,0,2,2.033,2,6.5v19C2,29.965,9.256,32,16,32c6.743,0,14-2.035,14-6.5v-19 C30,2.033,22.742,0,16,0z M28,25.5c0,2.484-5.373,4.5-12,4.5c-6.628,0-12-2.016-12-4.5v-3.736C6.066,23.893,11.05,25,16,25 c4.95,0,9.934-1.107,12-3.236V25.5z M28,19.5h-0.004c0,0.01,0.004,0.021,0.004,0.031C28,22,22.627,24,16,24c-6.627,0-12-2-12-4.469 c0-0.01,0.004-0.021,0.004-0.031H4v-3.736C6.066,17.893,11.05,19,16,19c4.95,0,9.934-1.107,12-3.236V19.5z M28,13.5h-0.004 c0,0.01,0.004,0.021,0.004,0.031C28,16,22.627,18,16,18c-6.627,0-12-2-12-4.469c0-0.01,0.004-0.021,0.004-0.031H4v-3.436 C6.621,12.061,11.425,13,16,13c4.575,0,9.379-0.939,12-2.936V13.5z M16,11C9.372,11,4,8.984,4,6.5C4,4.014,9.372,2,16,2 c6.627,0,12,2.014,12,4.5C28,8.984,22.627,11,16,11z' fill='whitesmoke'/%3E%3Ccircle cx='25' cy='26' fill='whitesmoke' r='1'/%3E%3Ccircle cx='25' cy='20' fill='whitesmoke' r='1'/%3E%3Ccircle cx='25' cy='14' fill='whitesmoke' r='1'/%3E%3C/g%3E%3C/svg%3E");
}


.picture-2 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M31.4,11.2l-3-3.998c-0.117-0.157-0.256-0.293-0.4-0.423V2c0-1.104-0.896-2-2-2H6 C4.895,0,4,0.896,4,2v4.78C3.856,6.909,3.717,7.044,3.6,7.2l-2.999,3.999C0.213,11.715,0,12.354,0,13v1c0,1.654,1.346,3,3,3h0v13 c0,1.104,0.896,2,2,2h22c1.104,0,2-0.896,2-2V17l0,0c1.654,0,3-1.346,3-3v-1C32,12.354,31.787,11.715,31.4,11.2z M26,2v4H6h0V2H26z M10.193,15H6.004l4-7h2.189L10.193,15z M13.234,8H15.5v7h-4.266L13.234,8z M16.5,8h2.266l2,7H16.5V8z M19.805,8h2.189l4,7h-4.189 L19.805,8z M2,14v-1c0-0.217,0.07-0.427,0.2-0.6l3-4C5.389,8.148,5.685,8,6,8h2.852l-4,7H3C2.448,15,2,14.553,2,14z M20,30h-7.5V20 H20V30z M27,30h-6V20c0-0.553-0.449-1-1-1h-7.5c-0.552,0-1,0.447-1,1v10H5V17h22V30z M30,14c0,0.553-0.447,1-1,1h-1.854l-4-7H26l0,0 c0.314,0,0.611,0.148,0.799,0.4l3,4C29.93,12.573,30,12.783,30,13V14z' fill='whitesmoke' id='shop_1_'/%3E%3C/svg%3E");
}

.picture-3 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='tag'%3E%3Cpath clip-rule='evenodd' d='M31.391,13.883l-5-8c-0.73-1.169-2.012-1.88-3.391-1.88H4 c-2.209,0-4,1.791-4,4v16c0,2.209,1.791,4,4,4h19c1.379,0,2.66-0.711,3.391-1.881l5-8C32.203,16.827,32.203,15.18,31.391,13.883z M29.695,17.062l-5,8.002c-0.367,0.588-1.002,0.939-1.695,0.939H4c-1.103,0-2-0.898-2-2v-16c0-1.103,0.897-2,2-2h19 c0.693,0,1.328,0.352,1.695,0.939l5,8C30.098,15.587,30.098,16.419,29.695,17.062z' fill='whitesmoke' fill-rule='evenodd'/%3E%3Cpath clip-rule='evenodd' d='M23,13.003c-1.658,0-3,1.343-3,3c0,1.657,1.342,3,3,3 c1.656,0,3-1.344,3-3C26,14.346,24.656,13.003,23,13.003z M23,18.004c-1.105,0-2-0.896-2-2c0-1.104,0.895-2,2-2 c1.104,0,2,0.896,2,2C25,17.107,24.104,18.004,23,18.004z' fill='whitesmoke' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.picture-4 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M31.543,0.16C31.377,0.053,31.188,0,31,0c-0.193,0-0.387,0.055-0.555,0.168l-30,20 c-0.309,0.205-0.479,0.566-0.439,0.936c0.038,0.369,0.278,0.688,0.623,0.824l7.824,3.131l3.679,6.438 c0.176,0.309,0.503,0.5,0.857,0.504c0.004,0,0.007,0,0.011,0c0.351,0,0.677-0.186,0.857-0.486l2.077-3.463l9.695,3.877 C25.748,31.977,25.873,32,26,32c0.17,0,0.338-0.043,0.49-0.129c0.264-0.148,0.445-0.408,0.496-0.707l5-30 C32.051,0.771,31.877,0.377,31.543,0.16z M3.136,20.777L26.311,5.326L9.461,23.363c-0.089-0.053-0.168-0.123-0.266-0.162 L3.136,20.777z M10.189,24.066c-0.002-0.004-0.005-0.006-0.007-0.01L29.125,3.781L12.976,28.943L10.189,24.066z M25.217,29.609 l-8.541-3.416c-0.203-0.08-0.414-0.107-0.623-0.119L29.205,5.686L25.217,29.609z' fill='whitesmoke' id='paperplane'/%3E%3C/svg%3E");
}

.big-picture-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='enable-background:new 0 0 1024 512;' version='1.1' xml:space='preserve' fill='whitesmoke' width='1024' height='512'%3E%3Crect id='backgroundrect' width='100%25' height='100%25' x='0' y='0' fill='none' stroke='none'/%3E%3Cg class='currentLayer' style=''%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_1' class=''%3E%3Cpolygon id='XMLID_18_' points='193,452.1 193,414.7 110.3,414.7 110.3,452.1 110.3,471.8 193,471.8 '/%3E%3Cg id='svg_2'%3E%3Cpolygon id='XMLID_17_' points='6,377.2 6,396 6,414.7 6,433.4 6,452.1 6,471.8 88.6,471.8 88.6,452.1 88.6,433.4 88.6,414.7 88.6,396 88.6,377.2 88.6,339.8 6,339.8 '/%3E%3Cpolygon id='XMLID_16_' points='88.6,190 88.6,152.5 6,152.5 6,190 6,208.7 88.6,208.7 '/%3E%3Cpolygon id='XMLID_15_' points='88.6,302.3 88.6,283.6 88.6,264.9 88.6,227.4 6,227.4 6,264.9 6,283.6 6,302.3 6,321.1 88.6,321.1 '/%3E%3Cpolygon id='XMLID_14_' points='193,302.3 193,283.6 193,264.9 193,227.4 110.3,227.4 110.3,264.9 110.3,283.6 110.3,302.3 110.3,321.1 193,321.1 '/%3E%3Cpolygon id='XMLID_13_' points='193,377.2 193,339.8 110.3,339.8 110.3,377.2 110.3,396 193,396 '/%3E%3Cpolygon id='XMLID_12_' points='193,190 193,171.3 193,152.5 193,115.1 110.3,115.1 110.3,152.5 110.3,171.3 110.3,190 110.3,208.7 193,208.7 '/%3E%3Cpolygon id='XMLID_11_' points='193,77.6 193,40.2 110.3,40.2 110.3,77.6 110.3,96.4 193,96.4 '/%3E%3Crect height='18.700000762939453' id='XMLID_10_' width='82.5999984741211' x='214.6999969482422' y='339.79998779296875'/%3E%3Cpolygon id='XMLID_9_' points='297.3,452.1 297.3,433.4 297.3,414.7 297.3,377.2 214.7,377.2 214.7,414.7 214.7,433.4 214.7,452.1 214.7,471.8 297.3,471.8 '/%3E%3Crect height='18.700000762939453' id='XMLID_8_' width='82.5999984741211' x='319' y='227.39999389648438'/%3E%3Cpolygon id='XMLID_7_' points='401.7,452.1 401.7,433.4 401.7,414.7 401.7,396 401.7,377.2 401.7,339.8 319,339.8 319,377.2 319,396 319,414.7 319,433.4 319,452.1 319,471.8 401.7,471.8 '/%3E%3Cpolygon id='XMLID_6_' points='401.7,302.3 401.7,264.9 319,264.9 319,302.3 319,321.1 401.7,321.1 '/%3E%3Cpolygon id='XMLID_5_' points='506,227.4 506,190 423.4,190 423.4,227.4 423.4,246.2 506,246.2 '/%3E%3Crect height='18.700000762939453' id='XMLID_4_' width='82.5999984741211' x='423.3999938964844' y='77.5999984741211'/%3E%3Cpolygon id='XMLID_3_' points='506,152.5 506,115.1 423.4,115.1 423.4,152.5 423.4,171.3 506,171.3 '/%3E%3Cpolygon id='XMLID_2_' points='506,339.8 506,321.1 506,302.3 506,264.9 423.4,264.9 423.4,302.3 423.4,321.1 423.4,339.8 423.4,358.5 506,358.5 '/%3E%3Cpolygon id='XMLID_1_' points='506,452.1 506,433.4 506,414.7 506,377.2 423.4,377.2 423.4,414.7 423.4,433.4 423.4,452.1 423.4,471.8 506,471.8 '/%3E%3C/g%3E%3C/g%3E%3Cg class='selected' id='svg_3'%3E%3Cpolygon id='svg_4' points='717.137939453125,450.0310459136963 717.137939453125,412.6310520172119 634.4379272460938,412.6310520172119 634.4379272460938,450.0310459136963 634.4379272460938,469.7310276031494 717.137939453125,469.7310276031494 '/%3E%3Cg id='svg_5'%3E%3Cpolygon id='XMLID_17_' points='530.1379089355469,375.1310520172119 530.1379089355469,393.93103981018066 530.1379089355469,412.6310520172119 530.1379089355469,431.33103370666504 530.1379089355469,450.0310459136963 530.1379089355469,469.7310276031494 612.7379150390625,469.7310276031494 612.7379150390625,450.0310459136963 612.7379150390625,431.33103370666504 612.7379150390625,412.6310520172119 612.7379150390625,393.93103981018066 612.7379150390625,375.1310520172119 612.7379150390625,337.7310276031494 530.1379089355469,337.7310276031494 '/%3E%3Cpolygon id='XMLID_16_' points='612.7379150390625,187.93103981018066 612.7379150390625,150.43103981018066 530.1379089355469,150.43103981018066 530.1379089355469,187.93103981018066 530.1379089355469,206.63103675842285 612.7379150390625,206.63103675842285 '/%3E%3Cpolygon id='XMLID_15_' points='612.7379150390625,300.2310276031494 612.7379150390625,281.5310459136963 612.7379150390625,262.83103370666504 612.7379150390625,225.33103370666504 530.1379089355469,225.33103370666504 530.1379089355469,262.83103370666504 530.1379089355469,281.5310459136963 530.1379089355469,300.2310276031494 530.1379089355469,319.0310459136963 612.7379150390625,319.0310459136963 '/%3E%3Cpolygon id='XMLID_14_' points='717.137939453125,300.2310276031494 717.137939453125,281.5310459136963 717.137939453125,262.83103370666504 717.137939453125,225.33103370666504 634.4379272460938,225.33103370666504 634.4379272460938,262.83103370666504 634.4379272460938,281.5310459136963 634.4379272460938,300.2310276031494 634.4379272460938,319.0310459136963 717.137939453125,319.0310459136963 '/%3E%3Cpolygon id='XMLID_13_' points='717.137939453125,375.1310520172119 717.137939453125,337.7310276031494 634.4379272460938,337.7310276031494 634.4379272460938,375.1310520172119 634.4379272460938,393.93103981018066 717.137939453125,393.93103981018066 '/%3E%3Cpolygon id='XMLID_12_' points='717.137939453125,187.93103981018066 717.137939453125,169.23104286193848 717.137939453125,150.43103981018066 717.137939453125,113.03104591369629 634.4379272460938,113.03104591369629 634.4379272460938,150.43103981018066 634.4379272460938,169.23104286193848 634.4379272460938,187.93103981018066 634.4379272460938,206.63103675842285 717.137939453125,206.63103675842285 '/%3E%3Cpolygon id='XMLID_11_' points='717.137939453125,75.53103065490723 717.137939453125,38.13103675842285 634.4379272460938,38.13103675842285 634.4379272460938,75.53103065490723 634.4379272460938,94.33103370666504 717.137939453125,94.33103370666504 '/%3E%3Crect height='18.700000762939453' id='XMLID_10_' width='82.5999984741211' x='738.8379058837891' y='337.731023311615'/%3E%3Cpolygon id='XMLID_9_' points='821.4379272460938,450.0310459136963 821.4379272460938,431.33103370666504 821.4379272460938,412.6310520172119 821.4379272460938,375.1310520172119 738.837890625,375.1310520172119 738.837890625,412.6310520172119 738.837890625,431.33103370666504 738.837890625,450.0310459136963 738.837890625,469.7310276031494 821.4379272460938,469.7310276031494 '/%3E%3Crect height='18.700000762939453' id='XMLID_8_' width='82.5999984741211' x='843.1379089355469' y='225.33102941513062'/%3E%3Cpolygon id='XMLID_7_' points='925.8379516601562,450.0310459136963 925.8379516601562,431.33103370666504 925.8379516601562,412.6310520172119 925.8379516601562,393.93103981018066 925.8379516601562,375.1310520172119 925.8379516601562,337.7310276031494 843.137939453125,337.7310276031494 843.137939453125,375.1310520172119 843.137939453125,393.93103981018066 843.137939453125,412.6310520172119 843.137939453125,431.33103370666504 843.137939453125,450.0310459136963 843.137939453125,469.7310276031494 925.8379516601562,469.7310276031494 '/%3E%3Cpolygon id='XMLID_6_' points='925.8379516601562,300.2310276031494 925.8379516601562,262.83103370666504 843.137939453125,262.83103370666504 843.137939453125,300.2310276031494 843.137939453125,319.0310459136963 925.8379516601562,319.0310459136963 '/%3E%3Cpolygon id='XMLID_5_' points='1030.137939453125,225.33103370666504 1030.137939453125,187.93103981018066 947.5379028320312,187.93103981018066 947.5379028320312,225.33103370666504 947.5379028320312,244.1310520172119 1030.137939453125,244.1310520172119 '/%3E%3Crect height='18.700000762939453' id='XMLID_4_' width='82.5999984741211' x='947.5379028320312' y='75.53103399276733'/%3E%3Cpolygon id='XMLID_3_' points='1030.137939453125,150.43103981018066 1030.137939453125,113.03104591369629 947.5379028320312,113.03104591369629 947.5379028320312,150.43103981018066 947.5379028320312,169.23104286193848 1030.137939453125,169.23104286193848 '/%3E%3Cpolygon id='XMLID_2_' points='1030.137939453125,337.7310276031494 1030.137939453125,319.0310459136963 1030.137939453125,300.2310276031494 1030.137939453125,262.83103370666504 947.5379028320312,262.83103370666504 947.5379028320312,300.2310276031494 947.5379028320312,319.0310459136963 947.5379028320312,337.7310276031494 947.5379028320312,356.43103981018066 1030.137939453125,356.43103981018066 '/%3E%3Cpolygon id='XMLID_1_' points='1030.137939453125,450.0310459136963 1030.137939453125,431.33103370666504 1030.137939453125,412.6310520172119 1030.137939453125,375.1310520172119 947.5379028320312,375.1310520172119 947.5379028320312,412.6310520172119 947.5379028320312,431.33103370666504 947.5379028320312,450.0310459136963 947.5379028320312,469.7310276031494 1030.137939453125,469.7310276031494 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon-1 {
  background-image: url("https://images.vfl.ru/ii/1609928813/38d4e455/32867747.png");
}

.icon-2 {
  background-image: url("https://images.vfl.ru/ii/1609928813/73683598/32867748.png");
}

.icon-3 {
  background-image: url("https://images.vfl.ru/ii/1609928813/de4db47f/32867749.png");
}

.icon-4 {
  background-image: url("https://images.vfl.ru/ii/1609928813/76fefb15/32867750.png");
}